{% extends "base.html" %}

{% block title %}Это эксперемент{% endblock %}

{% block content %}

    <h2>Добро пожаловать!</h2>
    <p>Здесь представленны только некоторые из них.</p>
    <h3>Вот они</h3>
    <table>
        <tr>
            {% for item in item_list|slice:":5" %}
                <td>
                    <a href="{{ item.get_absolute_url }}"><b>{{ item.name }}</b><br/>
                        {% if item.photo_set.count %}
                            <img src="{{ item.photo_set.all.0.image.thumb_url }}"/>
                        {% else %}
                            <span>No photos (yet)</span>
                        {% endif %}
                    </a>
                </td>
            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'item_list' %}">Все альбомы ...&raquo;</a></p>

{% endblock %}
