{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <p><a href="{% url 'item_list' %}">&laquo; Список альбомов</a></p>

    <h2>{{ object.name }}</h2>
    <p>{{ object.description }}</p>

    <h3>Фотки ...</h3>
    <table>
        <tr>
            <th>Заглавие</th>
            <th>Картинка</th>
            <th>Подпись</th>
        </tr>
        {% for photo in object.photo_set.all %}
            <tr>
                <td><i>{{ photo.title }}</i></td>
                <td>
                    <a href="{{ photo.get_absolute_url }}">
                        <img src="{{ photo.image.thumb_url }}"/>
                    </a>
                </td>
                {% if photo.caption %}
                    <td>{{ photo.caption }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
